.carousel {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  border: 2px solid #00394a;
  border-radius: 10px;

  /* Ajustes para dispositivos móviles */
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__slider-images {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;

    @media screen and (min-width: 300px) {
      height: 300px;
    }

    @media screen and (min-width: 1024px) {
      height: 500px;
    }
  }

  &__slider-images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }

  &__slider-images img.active {
    opacity: 1;
    position: relative;
  }

  /* Estilos para los botones de navegación */
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none; /* Eliminamos cualquier color de fondo */
    border: none;
    cursor: pointer;
    z-index: 2;

    &--prev {
      left: 10px;
      
    }

    &--next {
      right: 10px;
    }

    button {
      background: none; /* Fondo transparente */
      padding: 0; /* Elimina padding extra */
      border: none;
    }

    button img {
      width: 40px;  /* Ancho corregido */
      height: 40px; /* Altura corregida */
      border: none;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Sombra para mayor visibilidad */
    }

    button:hover img {
      transform: scale(1.1);
      transition: transform 0.3s ease;
      border: none;
    }
  }
}
