<div class="flex footer base-form">
  <div class="flex items:start justify:around width-18 gap:4 footer__links">
    <div class="flex:column width-8 footer__links-item1">
      <a href="/" class="size:large">
        <img
          class="logo"
          width="415px"
          height="108px"
          data-src="assets/images/LOGO.png"
          alt="Logo Portal de las Lomas"
        />
      </a>
      <p>Tu nuevo hogar en el espacio que necesitas</p>
    </div>
    <div class="flex:column width-4 gap:4 mt:1 footer__links-item1">
      <a href="#" class="width-20">INICIO</a>
      <a href="#" class="width-20">PROMOCIONES</a>
      <a href="#modelo" class="width-20">MODELO CÓRDOBA</a>
      <a href="https://ruba.mx/ruba-casa" target="_blank" class="width-20">SOBRE NOSOTROS</a>
    </div>
    <div class="flex:column width-5 mt:1 gap:4 footer__links-item1">
      <a
        href="https://www.google.com/maps?ll=25.362398,-100.99769&z=17&t=m&hl=es-419&gl=MX&mapclient=embed&cid=3060125132956402659"
        target="_blank"
        class="ubicacion width-20"
        >UBICACIÓN</a
      >
      <div class="flex:inline justify:center gap:4">
        <img
          class="imgLocation"
          width="28px"
          height="28px"
          data-src="assets/icons/location.svg"
          alt="Location"
        />
        <a
          href="https://www.google.com/maps?ll=25.362398,-100.99769&z=17&t=m&hl=es-419&gl=MX&mapclient=embed&cid=3060125132956402659"
          target="_blank"
          class="width-20"
        >
          Blvd. Militar, Portal de las Lomas, Lomas del Sur, 25094 Saltillo,
          Coah.</a
        >
      </div>
      <div class="net">
        <div class="networksFooter">
          <img
            class="header__image-icon whatappForm"
            data-src="assets/icons/whatsapp-white.svg"
            alt="whatsapp"
          />
          <a href="https://www.facebook.com/RubaSaltillo" target="_blank">
            <img
              class="header__image-icon"
              data-src="assets/icons/facebook-white.svg"
              alt="facebook"
            />
          </a>
          <a href="https://www.instagram.com/ruba.saltillo/" target="_blank">
            <img
              class="header__image-icon"
              data-src="assets/icons/instagram-white.svg"
              alt="instagram"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class="logos mv:3 width-18">
      <img class="" data-src="assets/images/ruba-footer.svg" alt="ruba" />
      <img class="" data-src="assets/images/44-anios.svg" alt="44 años" />
    </div>
  <div class="width-18 net">
    <div class="flex:column">
      <div class="flex justify:center gap:4">
        <a href="https://ruba.mx/aviso-de-privacidad" target="_blank"
          >AVISO DE PRIVACIDAD</a
        >
        <a href="https://ruba.mx/terminos-y-condiciones" target="_blank"
          >TÉRMINOS Y CONDICIONES</a
        >
        <a href="https://ruba.mx/contratos-de-adhesion" target="_blank"
          >CONTRATOS DE ADHESIÓN</a
        >
      </div>
      <a
        href="https://digitalbooting.com/"
        target="_blank"
        class="t:center mb:4 digital-booting"
        >Sitio web Diseñado y Desarrollado por Digital Booting | Agencia
        Creativa de Marketing Digital</a
      >
    </div>
  </div>
</div>
<!-- No eliminar el id base-form, es usado para evento del componente form-->
<div class="base-form"></div>
