<app-header style="position: fixed;  z-index: 3 ;"></app-header>

<!-- Contenedor principal para la primera sección -->
<div class="flex-wrapper" style="background-image: url('/assets/images/FONDO.jpg'); background-size: cover; background-position: center; background-attachment: fixed; min-height: 100vh;">
  <div class="flex-column flex-center" style="min-height: 80vh;">
    
<!-- Añadir el contenedor del texto con fondo transparente -->
<div class="text-container">
  <h2>Tu nuevo estilo de vida empieza aquí: <span class="highlight">Anthea Departamentos</span> en renta.</h2>
  
  <!-- Iconos de redes sociales -->
  <div class="social-icons">
   
    <a href="#">
      <img data-src="assets/images/WhatsappLogo.svg" width="40" alt="Contacto Ruba">
    </a>
    <a href="#">
      <img data-src="assets/images/InstagramLogo.svg" width="40" alt="Contacto Ruba">
    </a>
    <a href="#">
      <img data-src="assets/images/FacebookLogo.svg" width="40" alt="Contacto Ruba">
    </a>
    
  </div>
</div>

     
    <div class="logos mv-3 width-18" style="display: flex; justify-content: center; align-items: center; gap: 2rem; position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%);">
      <img class="" data-src="assets/images/RUBA.svg" alt="ruba" loading="lazy" />
      <img class="" data-src="assets/images/UG.svg" alt="44 años" loading="lazy" />
    </div>

    <!-- Añadir el texto pequeño debajo de los logos -->
    <p style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); font-size: 10px; color: #ffffff; margin-top: 11px;">
      Imagen con fines ilustrativos, puede variar sin previo aviso. Los renders no están a escala.
    </p>
    
  </div>
</div>



<div class="flex-wrapper2">
  <div class="flex-column2 flex-center2" style="min-height: 80vh;">
    <br>
    <h1 class="size-hero">
      Un entorno <span class="highlight">pensado en ti</span>, conoce los departamentos en renta de <span class="brand">Anthea</span>.
    </h1>
    
     <app-carousel></app-carousel>
     <br>

      <h1 class="size-hero2" >Disfruta de sus <span class="highlight">Amenidades</span></h1>
      
      <div class="amenities-container">
        <div class="amenity-item">
          <img data-src="assets/images/Pool.svg" width="40" alt="Contacto Ruba">
        
          <p>Alberca</p>
        </div>
        <div class="amenity-item">
          <img data-src="assets/images/CasaC.svg" width="40" alt="Contacto Ruba">
          <p>Casa club</p>
        </div>
        <div class="amenity-item">
          <img data-src="assets/images/park.svg" width="40" alt="Contacto Ruba">
          <p>Áreas verdes</p>
        </div>
        <div class="amenity-item">
          <img data-src="assets/images/Gym.svg" width="40" alt="Contacto Ruba">
          <p>Gimnasio</p>
        </div>
      </div>

      <br>
  </div>
</div>






<div class="flex-wrapper3">
  <div class="container">
    
    <!-- Contenedor izquierdo -->
    <div class="container-left">

      <img data-src="assets/images/LogoA2.svg" width="450"  height="200" alt="Contacto Ruba" >

    </div>
    
    <!-- Contenedor derecho -->
    <div class="container-right"></div>
    

    
  </div>

  <div class="containerDown">
      

         <!-- Contenedor inferior -->
    <div class="container-bottom"></div>


  </div>
  
</div>







<app-footer></app-footer>
