@import "dbgrid/scss/lib";

// Añadir breakpoints globales para hacer que la página responda mejor
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;

/* Estructura principal */
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* Asegura que ocupe la altura completa de la vista */

  @media screen and (max-width: $breakpoint-md) {
    height: auto; /* Permite que se ajuste según el contenido en pantallas medianas */
  }
}


.text-container {
  position: absolute;
  top: 20%; /* Ajusta la posición según lo necesites */
  left: 10%; /* Ajusta la posición según lo necesites */
  max-width: 600px; /* Ajusta el ancho máximo del contenedor */
  padding: 20px;
  background-color: transparent; /* Fondo completamente transparente */
  border-radius: 0; /* Sin bordes redondeados */
  box-shadow: none; /* Sin sombras */
  z-index: 1; /* Asegura que esté por encima de otros elementos */

  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff; /* Color del texto principal */
    font-style: italic; /* Aplica el estilo de letra itálica */

    .highlight {
      color: #d84a4a; /* Color rojo para el texto destacado */
      font-weight: 600;
      font-style: italic; /* Aplica el estilo itálico también al texto destacado */
    }
  }

  /* Iconos de redes sociales */
  .social-icons {
    display: flex;
    gap: 1rem; /* Espacio entre los íconos */
    margin-top: 20px;
  
    a {
      display: inline-block;
      transition: transform 0.3s ease; /* Añadir una pequeña animación en hover */
  
      &:hover {
        transform: scale(1.1); /* Ampliar ligeramente el ícono cuando se pase el ratón por encima */
      }
  
      .social-icon {
        width: 40px; /* Ajusta el tamaño de los íconos */
        height: auto;
        
      }
    }
  }
  

  @media screen and (max-width: $breakpoint-md) {
    max-width: 100%; /* Ajuste para pantallas medianas */
    padding: 10px;

    h2 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    max-width: 90%; /* Ajuste para pantallas pequeñas */
    
    h2 {
      font-size: 1.8rem;
    }
  }
}


/* Ajustes responsivos en el segundo wrapper */
.flex-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa toda la altura de la pantalla */
  position: relative;

  /* Fondo dividido en dos mitades con gradiente */
  background: 
    linear-gradient(white 50%, rgb(0, 0, 124) 50%);

  @media screen and (max-width: $breakpoint-sm) {
    height: auto; /* Permite que se ajuste a contenido en pantallas pequeñas */
  }
}

/* Estructura interna */
.flex-column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

/* Título de la página */
.size-hero {
  font-size: 2vw; /* Tamaño de fuente basado en el ancho de la ventana */
  font-weight: 300;
  color: #4a4a4a;
  line-height: 1.2;
  text-align: center;
  max-width: 60%;
  margin: 0 auto 30px;
  font-style: italic;

  @media screen and (max-width: $breakpoint-md) {
    font-size: 3rem; /* Ajuste de tamaño de fuente para pantallas medianas */
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 2rem; /* Ajuste de tamaño de fuente para pantallas pequeñas */
  }

  /* Colores para las palabras clave */
  .highlight {
    font-weight: 500;
    color: #f28b4b; /* Color naranja */
  }

  .brand {
    font-weight: 600;
    color: #d84a4a; /* Color rojo */
  }
}

/* Ajustes para el carrusel */
app-carousel {
  z-index: 2;
  position: relative;
  transform: translateY(0%);
  width: 100%;
  max-width: 1200px; /* Limita el ancho máximo del carrusel */
  padding: 0 20px;

  @media screen and (max-width: $breakpoint-md) {
    max-width: 1000px; /* Ajuste para pantallas medianas */
  }

  @media screen and (max-width: $breakpoint-sm) {
    max-width: 90%; /* Ajuste para pantallas pequeñas */
    padding: 0;
  }
}

/* Ajustes adicionales para el header y footer */
.header, .footer {
  padding: 2rem 1rem;

  @media screen and (max-width: $breakpoint-md) {
    padding: 1rem;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0.5rem;
  }
}

.size-hero2 {
  font-size: 2vw; /* Tamaño de fuente basado en el ancho de la ventana */
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  max-width: 60%;
  margin: 0 auto 30px;
  font-style: italic;

  @media screen and (max-width: $breakpoint-md) {
    font-size: 3rem; /* Ajuste de tamaño de fuente para pantallas medianas */
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 2rem; /* Ajuste de tamaño de fuente para pantallas pequeñas */
  }

  /* Colores para las palabras clave */
  .highlight {
    font-weight: 500;
    color: #f28b4b; /* Color naranja */
  }

  .brand {
    font-weight: 600;
    color: #d84a4a; /* Color rojo */
  }
}







.amenities-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los íconos */
  margin-top: 30px;

  @media screen and (max-width: $breakpoint-sm) {
    flex-wrap: wrap; /* Permite que los íconos se reorganicen en pantallas pequeñas */
  }

  .amenity-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00107e; /* Fondo oscuro para los cuadritos */
    border-radius: 10px;
    padding: 20px;
    width: 150px; /* Ajusta el tamaño de los cuadritos */
    height: 150px;
    text-align: center;
    color: #ffffff; /* Texto en blanco */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra para los íconos */
    transition: transform 0.3s ease;

    img {
      width: 50px; /* Ajusta el tamaño de los íconos */
      height: auto;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      font-size: 1rem;
    }

    &:hover {
      transform: translateY(-5px); /* Efecto hover */
    }
  }
}











.flex-wrapper3 {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* Asegura que los contenedores se distribuyan correctamente */
  align-items: center;
  height: 110vh; /* Toda la altura de la pantalla */
  padding: 10px;
  border: solid black 10px;
  background-color: #f9f9f9;
}
/* Contenedor Superior */
.container {
  display: flex;
  flex-direction: row; /* Alinea en columna por defecto */
  justify-content: space-between; /* Separa el contenido superior e inferior */
  width: 100%;
  height: 100%;
}

/* División de la parte superior en dos columnas */
.container-left, .container-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Estilo para el contenedor izquierdo */
.container-left {
  background-color: #ffffff;
}

/* Estilo para el contenedor derecho */
.container-right {
  background-color: #f28b4b;
}







/* Contenedor inferior */
.containerDown{

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

/* Contenedor inferior */
.container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001f3f;
  padding: 40px;
  text-align: center;
  color: white;
  width: 100%; /* Ocupa todo el ancho */
  flex-direction: row; /* Se asegura de que los elementos sean horizontales */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container-left, .container-right {
    width: 100%;
  }

  .container-bottom {
    flex-direction: row; /* En pantallas pequeñas, haz que el contenedor sea vertical */
  }
}
