<app-header></app-header>

<!-- Contenedor principal para la primera sección -->
<div class="flex-wrapper" style="background-image: url('/assets/images/FONDO.png'); background-size: cover; background-position: center; background-attachment: fixed; min-height: 100vh;">
  <div class="flex-column flex-center" style="min-height: 80vh;">
    
  
  </div>
</div>

<div class="flex-wrapper2">
  <div class="flex-column2 flex-center2" style="min-height: 80vh;">
    <h1 class="size-hero">
      Un entorno <span class="highlight">pensado en ti</span>, conoce los departamentos en renta de <span class="brand">Anthea</span>.
    </h1>
    
     <app-carousel></app-carousel>
  </div>
</div>




<app-footer></app-footer>
