<div id="uiGallery">
  <div class="flex header ph:2 items:center">
    <div class="flex:wrapper">
      <div class="flex items:center justify:between flex:nowrap">
        <h2 class="title">Portal de las Lomas</h2>
        <button class="closeButton ui:button style:rounded" (click)="close()">
          <img
            class="icon"
            data-src="assets/icons/close-menu.svg"
            width="28"
            height="28"
            alt="cerrar modal"
          />
          <span>Cerrar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="galleryGrid">
    <div class="flex justify:center areaButton">
      <button id="nextBtn" class="iconButton" (click)="forward()">
        <img data-src="assets/icons/arror.svg" alt="imagen anterior" />
      </button>
    </div>

    <div class="flex width-20 items:center justify:center" fix>
      <div class="m:width-20 d:width-18" fix>
        <div
          class="gallery-slider flex flex:nowrap items:center justify:start"
          fix
        >
          <!-- Imágenes estáticas dentro del HTML -->
          <picture data-index="0" style="display:flex;align-items:center;justify-content:center;width:100%;height:calc(100vh - 100px);">
            <img loading="lazy" class="loaded" src="assets/images/1.png" style="object-fit: contain;width: 95%;height: 95%;border-radius: 20px;" alt="Imagen 1">
          </picture>
          <picture data-index="1" style="display:flex;align-items:center;justify-content:center;width:100%;height:calc(100vh - 100px);">
            <img loading="lazy" class="loaded" src="assets/images/2.png" style="object-fit: contain;width: 95%;height: 95%;border-radius: 20px;" alt="Imagen 2">
          </picture>
          <picture data-index="2" style="display:flex;align-items:center;justify-content:center;width:100%;height:calc(100vh - 100px);">
            <img loading="lazy" class="loaded" src="assets/images/3.png" style="object-fit: contain;width: 95%;height: 95%;border-radius: 20px;" alt="Imagen 3">
          </picture>
        </div>
      </div>
    </div>

    <div class="flex justify:center areaButton">
      <button id="prevBtn" class="iconButton" (click)="back()">
        <img data-src="assets/icons/arrol.svg" alt="imagen anterior" />
      </button>
    </div>
  </div>
  <div class="flex p:2 mobileAreabutton">
    <div class="flex justify:center gap:4">
      <button class="iconButton" (click)="forward()">
        <img src="assets/icons/arror.svg" alt="imagen siguiente" />
      </button>
      <button class="iconButton" (click)="back()">
        <img src="assets/icons/arrol.svg" alt="imagen anterior" />
      </button>
    </div>
  </div>
</div>
