<div class="aviso-nom247 flex:center hide">
  <div
    class="aviso-nom247__content animate__animated"
    data-animated="animate__fadeInUp"
    data-animation-delay="1000ms"
  >
    <p class="pt:2 t:center">
      Hubo una actualización en el aviso de privacidad,
      <a href="" (click)="openSecondPopup($event)">
        Ir al Second Popup
      </a>
      para enterarte.
    </p>

    <div class="flex:center mt:2 ph:1">
      <button
      id="closePop"
      class="custom-button ui:button type:button style:small-round"
      aria-label="Ver más detalles"
      (click)="onClose()"
      >
        Aceptar aviso de privacidad
      </button>
    </div>
    <p class="pt:1 t:center size:xsmall opacity:6">
      Acepta el aviso de privacidad para continuar
    </p>
  </div>
</div>
